.anki-settings-page{
  margin-top: 1rem;
}

select{
  background-color: #333;
  color: #FFF;
  padding: .5rem;
  margin: .2rem;
  border-radius: .5rem;
  font-size: 1rem;
  border: 1px solid #555;
}

.field-names-container{
  margin: auto;
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: min-content min-content;
  width: min-content;
}

.field-names-label{
  align-content: center;
  text-align: center;
}