.anki-connect {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: hsl(0, 69%, 45%);
  color: hsl(0, 0%, 0%);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.anki-connect:hover {
  background-color: hsl(0, 69%, 35%);
  transform: scale(1.1);
  transition: .1s;
}

.connected {
  background-color: hsl(158, 96%, 35%);
}

.connected:hover {
  background-color: hsl(158, 96%, 25%);
}