.anki-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 3rem;
  background-color: hsl(0, 69%, 45%);
  color: hsl(0, 0%, 0%);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  text-decoration: none;
}

.settings-icon{
  font-size: 2rem;
  margin-right: 1rem;
}

.anki-connect:hover {
  background-color: hsl(0, 69%, 35%);
}

.connected {
  background-color: hsl(158, 96%, 35%);
}

.connected:hover {
  background-color: hsl(158, 96%, 25%);
}