.anki-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: .5rem;
  cursor: pointer;
  text-decoration: none;
}

.settings-icon{
  margin-right: .5rem;
}

.connected {
  background-color: #04af70;
}

.connected:hover {
  background-color: hsl(158, 96%, 25%);
}