.kanji-input {
  background-color: hsl(0, 0%, 80%);
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: 3rem;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
}

.search-button {
  background-color: hsl(207, 96%, 35%);
  height: 3rem;
  width: 10rem;
  border-radius: .5rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 2rem;
}

.search-button:hover {
  background-color: hsl(207, 96%, 30%);
  transform: scale(1.1);
  transition: .1s;
}