.kanji-input {
  background-color: hsl(0, 0%, 80%);
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 8rem;
  height: 3rem;
  font-size: 2.5rem;
  border-radius: 10px;
  border: none;
}

.options-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.options-button {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 69%, 45%);
  height: 3rem;
  width: 10rem;
  border-radius: .5rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.options-button:hover {
  background-color: hsl(0, 69%, 35%);
}

.active {
  background-color: hsl(158, 96%, 35%);
}

.active:hover {
  background-color: hsl(158, 95%, 25%);
}

.search-button{
  background-color: hsl(207, 96%, 35%);
  height: 3rem;
  width: 10rem;
  border-radius: .5rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.search-button:hover{
  background-color: hsl(207, 96%, 25%);
}