.loading{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loading-kanji{
  position: absolute;
  margin: auto;
  font-size: 3rem;
}

.icone-girando {
  animation: spin 1s linear infinite;
}

/* Criamos a regra matemática da rotação */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}