.login {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.email-form,
.password-form {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.email-input,
.password-input {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: .5rem;
  border: 2px solid transparent;
  text-align: left;
  padding: .5rem;
  cursor: text;
}

.password-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.password-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.password-hide {
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  cursor: pointer;
  background-color: #DDD;
}

.login-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  gap: 1rem;

}

.form-btn {
  display: flex;
  background-color: #0462af;
  height: 3rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  color: #000;
  border: none;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  padding: .5rem;
}

.email-label,
.password-label {
  font-size: 1.5rem;
}