.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.email-form,
.password-form,
.name-form {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.email-input,
.password-input,
.name-input {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: .5rem;
  border: 2px solid transparent;
  text-align: left;
  padding: .5rem;
  cursor: text;
}

.password-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.password-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.password-hide {
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  cursor: pointer;
  background-color: #DDD;
}

.form-btn {
  display: flex;
  gap: .5rem;
  background-color: #0462af;
  height: 3rem;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  color: #000;
  border: none;
  cursor: pointer;
  align-items: center;
  padding: .5rem;
}

.name-label,
.email-label,
.password-label {
  font-size: 1.5rem;
}

.form-link {
  text-align: center;
  font-size: 1.2rem;
}

.form-link-btn {
  background-color: transparent;
  color: #0462af;
  border: none;
  font-size: 1.2rem;
  margin-left: .5rem;
  cursor: pointer;
  text-decoration: underline;
}

.form-link-btn:hover {
  color: #04af70;
}