.logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.welcome-user {
  font-size: 2.3rem;
}

.login-options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
  border: solid 2px #cccccc;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
  height: 3rem;
  width: 100%;
  font-size: 1.5rem;
}

.logout{
  background-color: hsl(0, 69%, 45%);
  color: #000;
  border: solid 2px hsl(0, 69%, 25%);
}