.home-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.add-note-btn{
  text-align: center;
  margin: auto;
  background-color: #333;
  width: 10rem;
  padding: .5rem;
  cursor: pointer;
  border: 1px solid #555;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-color: hsl(207, 96%, 35%);
  border-radius: .5rem;
}

hr{
  width: 90%;
  margin: auto;
  border: 2px solid hsl(207, 96%, 35%);
}