.kanjis-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr)); 
  gap: .2rem;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}

.kanji-button {
  width: 2rem;
  height: 2rem;
  border: 2px black solid;
  cursor: pointer;
  background-color: hsl(0, 0%, 36%);
  color: hsl(0, 0%, 80%);
  border-radius: .5rem;
  font-size: 1.2rem;
}

.kanji-button:hover {
  background-color: hsl(0, 0%, 26%);
  border-color: hsl(207, 96%, 35%);
  transform: scale(1.15);
  transition: .3s;
}

.grade-button-container {
  display: flex;
  justify-content: space-around;
  gap: .5rem;
  margin: 1rem auto;
  max-width: 45rem;
}

.grade-button {
  background-color: hsl(0, 0%, 80%);
  border: 2px solid transparent;
  width: 5rem;
  height: 2rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.grade-button:hover {
  background-color: hsl(0, 0%, 70%);
  border: 2px solid hsl(207, 96%, 35%);
  transform: scale(1.15);
  transition: .1s;
}

.grade-selected {
  background-color: hsl(207, 96%, 35%);
}

.grade-selected:hover {
  background-color: hsl(207, 96%, 30%);
}