.kanji-phrases {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.kanji-phrases-table{
  border-collapse: collapse;
  width: 80%;
  min-width: 30rem;
}

.kanji-phrases-table-header{
  background-color: hsl(207, 96%, 35%);
  color: #FFF;
}

.kanji-phrases-table-row{
  border: 2px solid transparent;
  cursor: pointer;
}

.kanji-phrases-table-row rt{
  opacity: 0;
}

.kanji-phrases-table-row:hover rt{
  opacity: 1;
}

.kanji-phrases-table-selected{
  border: 2px solid hsl(158, 96%, 35%);
}

.kanji-phrases-table-selected rt{
  opacity: 1;
}

:has(+ .kanji-phrases-table-selected){
  border-bottom: 2px solid hsl(158, 96%, 35%);
}

.transcriptions{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

th{
  padding: .5rem;
}

td{
  padding: .4rem;
  font-size: 1.3rem;
  text-align: center;
}

ruby {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  ruby-align: center;
}

rt {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: hsl(0, 0%, 70%);
  user-select: none;
}