.kanji-info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.img-stroke-order{
  height: 15rem;
  cursor: pointer;
}

.kanji-info{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: .5rem;
}

.link-jisho{
  color: hsl(207, 96%, 35%);
  text-decoration: underline;
  text-underline-offset: 2px;
}