.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5rem;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 80%);
  color: #000;
  height: 3rem;
  width: 3rem;
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
  background-color: #0462af;
  border: 2px solid transparent;
  border-right: none;
  cursor: pointer;
  font-size: 1.75rem;
}

.kanji-input {
  display: flex;
  height: 3rem;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  border: 2px solid transparent;
  border-left: none;
  font-size: 2rem;
  width: 12rem;
  background-color: hsl(0, 0%, 80%);
  text-align: left;
  outline: 0;
  padding-left: 1rem;
}

.kanji-input:focus{
  border: 2px solid #0462af;
  border-left: none;
}