body {
  background-color: #242424;
  color: #FFFFFF;
}

.app{
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.side-bar{
  width: 0;
  background-color: hsl(0, 0%, 20%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: .3s;
  overflow-x: hidden;
  white-space: nowrap;
}

.open{
  width: 30rem;
}

.side-bar-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.side-bar-btn-container{
  position: absolute;
  background: linear-gradient(to right, hsl(0, 0%, 20%) 50%, #242424 50%);
  display: flex;
  flex-direction: column;
}

.side-bar-btn-filler{
  height: 1rem;
  border-top-left-radius: .5rem;
  background-color: #242424;;
}

.side-bar-btn{ 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: hsl(0, 0%, 20%);
  width: 4rem;
  height: 4rem;
}
