body {
  background-color: #242424;
  color: #FFFFFF;
}

.app{
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  margin: 0 1rem;
}

.side-bar{
  width: 0;
  background-color: hsl(0, 0%, 20%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: .3s;
  overflow-x: hidden;
  white-space: nowrap;
}

.open{
  width: 30rem;
}

.side-bar-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 2rem;
}

.side-bar-btn{
  font-size: 3rem;
  display: inline;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: .5rem;
}
.side-bar-btn:hover{
  border: 2px solid hsl(207, 96%, 35%);
}

.logar{
  display: flex;
  flex-direction: column;
}

.email-form, .password-form{
  width: 100%;
}

.email-input, .password-input{
  display: flex;
  flex-direction: row;
  width: 100%;
}

input{
  width: 100%;
}

.logar-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

label{
  display: block;
}
