body {
  background-color: #242424;
  color: #FFFFFF;
}

.app{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.side-bar{
  width: 0;
  background-color: hsl(0, 0%, 20%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: .3s;
  overflow-x: hidden;
  white-space: nowrap;
}

.open{
  width: 30rem;
}

.side-bar-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.side-bar-btn{ 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: hsl(0, 0%, 20%);
  width: 4rem;
  height: 4rem;
}
