*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.kanjisList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 2rem 5rem;
  gap: 5px;
}
.kanji {
  padding: .5rem;
  border: 1px black solid;
  cursor: pointer;
}